{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <hr>
    {% for listing in listings %}
        {% if not listing.closed %}
            <h3><a class="nav-link" href="listing{{ listing.id }}">{{ listing.title }}:</a></h3>
            <img src="{{ listing.image }}" alt="No Image" height="400">
            <br>
            <br>
            <h5>£{{ listing.price }}</h5>
            {{ listing.description }}
            <hr>
        {% endif %}
    {% empty %}
    {% endfor %}
{% endblock %}