.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}